*
!.github
!.github/**
!.tests
!.tests/**
!config
!config/**
!resources
!resources/*
!workflow
!workflow/**
!.github
!.github/**
!.gitignore
!.gitattributes
!.editorconfig
!LICENSE
!README.md
!knowledge-base.md
!first-test.py

config/pep/documents.csv
