*
!.github
!.github/**
!config
!config/**
!docs
!docs/**
!resources
!resources/*
!workflow
!workflow/**
!.github
!.github/**
!.gitignore
!.gitattributes
!.editorconfig
!LICENSE
!README.md
!knowledge-base.md
!first-test.py
!Dockerfile

config/pep/documents.csv
